body {
    background-color: rgb(50, 49, 49);
}
p {
    color: white;
    font-size: 20px;
}
h1 ,h2,h3 {
    color: white;
}
li {
    color: white;
    
    
}
h1 {
    font-size: 40px;
}
ol {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.text_red {
    color:red
}
.text-blue {
    color: blue;
}
.text-goldenrod {
    color:goldenrod;
}
.text-silver {
    color:silver
}